.hidden {
    display: none;
}



.row button {
    outline: none;
    border: none;
}

// div {
//     border: 1px solid transparent;
// }

/* .dotted-border-b {
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    border-bottom-color: black;
}

.dotted-border-l {
    border-left-style: dotted;
    border-left-width: 1px;
    border-left-color: black;
    
}

.sam-directors {
    position: relative;
}

.sam-arrow-icon {
    position: absolute;
    top: 50%;
    left: 0;
} */

